<h1>{{ course.name }}</h1>

<div class="pull-right margin bottom">
  <button type="button" ng-click="saveCourse()" class="btn btn-default"><span class="glyphicon glyphicon-floppy-disk"></span> Enregistrer</button>
  <a ng-href="#/{{ course.id }}/preview/{{ page.id }}"><button type="button" ng-click="preview()" class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span> Aperçu</button></a>
</div>

<form class="form-horizontal" role="form" name="editCourse" ng-submit="newCourse.$valid && saveCourse()" novalidate>

  <div class="margin bottom">
    <div ng-repeat="(id, section) in page.sections" class="form-group">
      <div>
        <textarea class="col-sm-10" ng-model="section.content" msd-elastic="\n"></textarea>
        <div class="col-sm-1 block">
          <div><span class="glyphicon glyphicon-remove" ng-click="removeSection(id)"></span></div>
          <div><span class="glyphicon glyphicon-chevron-up"></span></div>
          <div><span class="glyphicon glyphicon-chevron-down"></span></div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="pull-left"><button class="btn btn-default" ng-click="newSection()" type="button"><span class="glyphicon glyphicon-plus"></span></button></div>
    <div class="pull-right page-links">
      <span ng-repeat="page in course.pages"><a ng-class="{disabled: isCurrentPage(page)}" ng-href="#/{{ course.id }}/edit/{{ page.id }}">{{ page.id }}</a></span>
      <button class="btn btn-default" ng-click="newPage()"><span class="glyphicon glyphicon-file"></span> Nouvelle page</button>
    </div>
  </div>

</form>

<div>
  <input type="file" ng-file-select="onFileSelect($files)">
  <div class="button" ng-file-select="onFileSelect($files)" data-multiple="true"></div>
  <button ng-click="upload.abort()">Cancel Upload</button>
</div>